:root {
    --primary-color: #0A0F37; /* Main Dark Navy */
    --light-color: #101d649c; 
    --secondary-color: #cab053; /* Gold/Beige */
    --accent-color: #b29545; /* Dark Beige for hover background */
    --bg-color: #f9f9f9; /*Light white*/
    --gradient-bg: linear-gradient( 135deg, var(--secondary-color) 0%, var(--accent-color) 40%, #e7c875 70%, #b9933b 100% );
}

@font-face {
    font-family: "Hafs";
    src: url("/Fonts/Hafs.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cinzel";
    src: url("/Fonts/CinzelDecorative-Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tajawal";
    src: url("/Fonts/Tajawal-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: "AlMushafQuran";
    src: url("'/Fonts/Al Mushaf Quran.ttf'") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nabi";
    src: url("/Fonts/Nabi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*/

/* --accent-color: #ffc107;   #fbfbfb;
    --bg-color: #212529; 
    --text-color: #ffffff; */